 ---
 ---

@import "{{ site.theme }}";

table {
  display: block;
  overflow-x: auto;
}

a {
  color: #126BBB;
}

a.site-title.fs-6.lh-tight {
  background-color: #126BBB;
}

div.navigation.main-nav.js-main-nav {
  background-color: #126BBB;
}

footer.site-footer {
  background-color: #126BBB;
}

div.side-bar {
  background-color: #126BBB;
}
